@font-face {
	font-family: 'MyFont';
	src: url(ShigotoMemogaki-Regular-1-01.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

.paper {
    position: absolute;
    height: 700px;
    width: 1000px;
    background: rgba(255,255,255,0.9);
    margin: -350px -505px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
}

.paper::before {
    content: '';
    position: absolute;
    left: 500px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.sheet1 {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 530px;
    line-height: 25px;
    overflow: hidden;
    outline: none;
}

.sheet2 {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 30px;
    line-height: 25px;
    overflow: hidden;
    outline: none;
}

.intro {
    list-style-type: none;
    width: 560px;
    height: 315px;
    font-family: 'MyFont';
}

.image-tile {
    width: 60%;
    height: 80%;
    margin: 10px;
}

.video {
    display: inline;
}

.icon, .image, .video {
    width: 100%;
    height: 100%;
}

.self, .hobby1, .hobby2 {
    display: flex;
    height: 200px;
}

.title {
    font-family: "MyFont";
    height: 20px;
    font-size: 20px;
}