a {
    font-size: large;
    display: block;
}

.intro {
    list-style-type: none;
    width: 560px;
    height: 315px;
}

.video {
    display: inline;
}

.icon, .image, .video {
    width: 560px;
    height: 315px;
}

.self, .hobby1, .hobby2 {
    display: flex;
}