@font-face {
	font-family: 'MyFont';
	src: url(ShigotoMemogaki-Regular-1-01.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

.paper {
    position: absolute;
    height: 700px;
    width: 1000px;
    background: rgba(255,255,255,0.9);
    margin: -350px -505px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
}

.paper::before {
    content: '';
    position: absolute;
    left: 500px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.sheet1 {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 530px;
    line-height: 25px;
    overflow: hidden;
    outline: none;
}

.sheet2 {
    position: absolute;
    top: 65px;
    left: 530px;
    bottom: 10px;
    right: 30px;
    line-height: 25px;
    overflow: hidden;
    outline: none;
}

.intro1, .intro2, .intro3 {
    list-style-type: none;
    width: 50%;
    height: 100%;
    font-family: 'MyFont';
}

.intro1 {
    padding-left: 20px;
}

.intro2 {
    padding-right: 20px;
}

.image-tile {
    width: 50%;
    height: 100%;
}

.video {
    display: inline;
}

.icon, .image, .video {
    width: 100%;
}

.self, .hobby1, .hobby2 {
    display: flex;
    height: 200px;
    margin-bottom: 40px;
}

.title {
    font-family: "MyFont";
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #0bd;
    z-index: 1;
    position: absolute;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

/* Hide Loading Block */
.loaded {
    opacity: 0;
    visibility: hidden;
}